{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %} 注册 {% endblock %}

{% block content %}
    <div class="col-6">
        <h1 class="text-center">注册成为新用户 </h1>

        <form method="POST">
            {% csrf_token %}

            {{ user_form|crispy }}
            {{ detail_form|crispy }}

            <div class="row">
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary  ">提交</button>
                    <button type="reset" class="btn btn-primary  ">清空</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}