{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}登陆进入{% endblock %}
{% block content %}

    <div class="col-6">
        <h3 class="text-center">登陆本站</h3>
        <p class="text-center">输入你的用户名和密码</p>

        <form method="post">
            {% csrf_token %}
            {{ login_form|crispy }}

            <div class="col text-center">

                    <button type="submit" class="btn btn-primary">登陆</button>
                    <button type="reset" class="btn btn-primary">清空</button>

            </div>
        </form>


    </div>


{% endblock %}